
<div class="button-section">
    <button (click)="getYears()"> Select Vehicle </button>
    <button (click)="resetAll()"> Reset </button>
</div>
<app-select-dropdown
    [dropDownData]="years$ | async"
    [label]="'Year'"
    (selectedItemEvent)="getMakes($event)">
</app-select-dropdown>
<app-select-dropdown
    [dropDownData]="makes$ | async"
    [label]="'Make'"
    (selectedItemEvent)="getModels($event)">
</app-select-dropdown>
<app-select-dropdown
    [dropDownData]="models$ | async"
    [label]="'Model'"
    (selectedItemEvent)="getTrims($event)">
</app-select-dropdown>

<app-select-dropdown
    [dropDownData]="trims$ | async"
    [label]="'Style'"
    (selectedItemEvent)="getData($event)">
</app-select-dropdown>
<div *ngIf="selectedYear">
    Vehicle: {{selectedYear}} {{selectedMake}} {{selectedModel}} {{selectedTrim}}
</div>

