
<div class="button-section">
    <button (click)="getYears()" style="float: left;"> Select vehicle </button>
    <button (click)="resetAll()" style="float: right;"> Reset </button>
</div>
<app-select-dropdown
    [dropDownData]="years$ | async"
    [actionType]="'Year'"
    (selectedItemEvent)="getMakes($event)">
</app-select-dropdown>
<app-select-dropdown
    [dropDownData]="makes$ | async"
    [actionType]="'Make'"
    (selectedItemEvent)="getModels($event)">
</app-select-dropdown>
<app-select-dropdown
    [dropDownData]="models$ | async"
    [actionType]="'Model'"
    (selectedItemEvent)="getTrims($event)">
</app-select-dropdown>

<app-select-dropdown
    [dropDownData]="trims$ | async"
    [actionType]="'Style'"
    (selectedItemEvent)="getData($event)">
</app-select-dropdown>
<div *ngIf="selectedYear">
    Vehicle: {{selectedYear}} {{selectedMake}} {{selectedModel}} {{selectedTrim}}
</div>

